/* LARGE SCREENS */
@media screen and (min-width: 960px) {
    /* your css goes here */
}

/* MEDIUM SCREENS */
@media screen and (min-width: 650px) and (max-width: 959px) {
    /* your css goes here */
}

/* SMALL SCREENS */
@media screen and (max-width: 649px) {
    /* your css goes here */
}

body {
/*	background-color: #ededed; */
	background-image: "static/bg.png";
}

h2 {
	margin: 10px 10px 10px 0px;
}

.box {
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 3px 0 #dddddd;
	-moz-box-shadow: 0 2px 3px 0 #dddddd;
	box-shadow: 0 2px 3px 0 #dddddd;
	border: 1px solid #BBB;
	background-color: #FFF;
	padding: 1em;
	margin-top: 1em;
	height: auto;
	min-height: 150px;
}

.sticky {
	position: relative;
}