<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="ink-min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Time Threads</title>
	</head>

	<body>
		<div class="ink-grid">
			<div class="column-group">
				<div class="large-80 box">
					<h2>Time Threads</h2>

					<!-- NEWS ITEM SUBTEMPLATE -->
					<div class="column-group">
						<div class="large-100 box">
							<p>Hello, world!</p>
						</div>
					</div>
					<!-- END NEWS ITEM SUBTEMPLATE -->

				</div>
			</div>
		</div>
	</body>
</html>